
%html{:lang => "en", "ng-app" => "yourAppName"}
  %head
    %link{:rel => "stylesheet", :href =>"/css/normalize.css"}
    %script{:src  => "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"}
    %script{:src  => "https://code.jquery.com/jquery-2.1.3.min.js"}
    %script{:src  => "/js/application.js"}
    %script{:src  => "/js/controllers.js"}
    %script{:src  => "/bower_components/angular-cookie/angular-cookie.js"}
    %script{:src  => "/bower_components/ng-token-auth/dist/ng-token-auth.js"}
    %title what am I doing?
  %body{"ng-controller" =>"mainCtrl"}
    = yield

